
header{
    background-image: url("beach.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    background-position: center;
    height: 300px;
}
body{
    background-color:lavenderblush;

}
h1 {
    font-family:'Covered By Your Grace', sans-serif;
    color: purple
}
.needRename{
    border: 3px solid white;
    position: relative;
    float: right;
    right: 100px;
}

.aboutme{
    text-align: center;
}

.previousWork{
    text-align: center;
}